<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/static/styles/style.css'>
  </head>
  <body>
    <h1>Movies</h1>
    <form method='POST' action='/movie'>
      Movie Title: <input type='text' name='name' placeholder='Title'/></br>
      Genre: <input type='text' name='genre' placeholder='Genre'/></br>
      Release Date: <input type='text' name='year' placeholder='year'/></br>
      <input type='submit' value='Submit' />
    </form>

    <h5>Search movies</h5>
    <form method='GET' action='/search'>
      <input type='text' name='name' placeholder:'search' />
      <input type='submit' value='Submit' />
    </form>
  </body>
</html>
